<link href="assets/images/favicon.ico" type="img/x-icon" rel="shortcut icon"/>
<!-- All css files are included here. -->
<link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css"/>
<link rel="stylesheet" href="assets/css/vendor/iconfont.min.css"/>
<link rel="stylesheet" href="assets/css/vendor/helper.css"/>
<link rel="stylesheet" href="assets/css/plugins/plugins.css"/>
<link rel="stylesheet" href="assets/css/style.css"/>
<!-- Modernizr JS -->
<script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>